{% extends "accueilProprietaire.html" %}

{% block content %}
    <div id="titre">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <h3 class="titre">Mes biens </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="conteneur-link">
                        <a href="{{ url_for('nouveauBien') }}" class="green-button">Ajouter un bien</a>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    {% if nbBien == 0 %}
    <div id="error">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <p>Vous n'avez pas de biens enregistres, cliquez sur le bouton "Ajouter un nouveau bien" pour en creer un</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <p class="bien-address">Adresse</p>
                            </div>
                            <div class="col-7">
                                <p class="bien-address">Code postal</p>
                            </div>
                        </div>
                    </div>
                </li>
            {% for items in biens %}
                <li class="list-group-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-5">
                                <a href="{{ url_for('visionnerBien', idBien = items.id) }}" class="bien-address">{{ items.adresse }}</a>
                            </div>
                            <div class="col-5">
                                <p class="bien-address">{{ items.codePostal }}</p>
                            </div>
                            <div class="col-1">
                                <a href="{{ url_for('modifierBien', idBien = items.id ) }}" class="modifier">Modifier</a>
                            </div>
                            <div class="col-1">
                                <a href="{{ url_for('suppresionBien', idBien = items.id ) }}" class="supprimer">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div> 
    </div>
{% endif %}
{% endblock %}