{% extends "skeleton.html" %}
{% block head %}
    <link href="{{ url_for('static', filename='SignInOut.css') }}" rel="stylesheet">
    <title>Homeo - connexion</title>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet"> 
{% endblock %}
{% block main %}
<br>
<div id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h3 id="form_title">Renvoi email de confirmation de compte</h3>
            </div>
        </div>
    </div>
    <form method="POST">
        <div class="container">
            {% for field in form %}
                <div class=" row">
                    <div class="col-sm">
                        {{ field.label(class_="form-label") }}
                    </div>
                </div>
                <div class=" row">
                    <div class="col-sm">
                        {{ field(class_="form-control form-input") }}
                    </div>
                </div>
            {% endfor %}
            <div class="row">
                <div class="col-sm">
                    <button type="submit" class="valider">Valider</button>
                </div>
            </div>
            
            <div class="container">
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="row">
                        <div class="col-sm">
                            <h6 class="flashed-error">{{ message }}</h6>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </div>
        
    </form>
</div>



{% endblock %}